@import "reset";
@import "variables/global";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background-image: var(--gradient);
}

.content-page {
  display: flex;
}