@import "reset";
@import "variables/global";
@import "fonts";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background-image: var(--gradient);
}

.content-page {
  display: flex;
}

::-webkit-scrollbar { display: none; }