.FlightDetailsCard {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  box-shadow: var(--box-shadow);
  background: var(--ticket-card-background);
}

p {
  font-size: 18px;
}

.FlightPoints {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  font-weight: 900;
  justify-content: space-between;
}

.FlightInfo {
  display: flex;
  gap: 4px;
}

.FlightDates {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  white-space: nowrap;
}

.FlightDate {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.FlightDateTime {
  font-weight: 700;
  font-size: 35px;
  margin-right: 5%;
}

.FlightDateCity {
  font-size: 20px;
  text-align: center;
}

.FlightPriceAndOrder {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: var(--primary-color);
}

.FlightPrice {
  font-size: 35px;
  font-weight: 700;
  color: #095fa9;
}

.FlightLoading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  margin-right: 20px;
}

@media screen and (max-width: 676px) {
  .FlightDetailsCard {
    gap: 8px;
  }

  .Logo {
    position: absolute;
    opacity: 0;
  }

  .FlightDates {
    gap: 8px;
  }

  .FlightDateTime {
    font-size: 25px;
  }

  .FlightInfo {
    margin-top: 10px;
    flex-direction: column;
  }
}

@media screen and (max-width: 410px) {
  .FlightPrice {
    font-size: 20px;
    font-weight: 700;
    color: #095fa9;
  }

  .FlightDateTime {
    font-size: 20px;
  }
}

@media screen and (max-width: 386px) {
  .FlightPriceAndOrder {
    flex-direction: column;
    gap: 5px;
  }

  .FlightPrice,
  .FlightOrder {
    display: flex;
    justify-content: center;
  }
}