.MainPageFilters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sortWrapper {
  display: flex;
  flex-direction: row;
}

.Search {
  width: 100%;
  justify-content: center;
}

.SearchCard {
  width: 70%;
}

.Tabs {
  margin-top: 10px;
  padding: 15px 10px;
  background: var(--tab-gradient);
  box-shadow: var(--box-shadow);
}
