.TicketCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
  background: var(--ticket-card-background);
}

.Flights,
.Departure,
.Arrive,
.Time,
.FlightTime {
  display: flex;
  flex-direction: column;
}

.Header,
.FlightInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header {
  margin-bottom: 1%;
}

.Cities {
  margin: auto auto auto 25px;
  font-size: 25px;
  font-weight: 600;
}

.FlightInfo {
  transition: 0.2s;
  margin-top: 2%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background: var(--flight-info-background);
  white-space: nowrap;
  &:hover {
    transform: scale(1.01);
  }
}

.Departure,
.Arrive {
  margin-right: 2%;
}

.Time {
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.FlightTime,
.Price {
  justify-content: center;
  align-items: center;
}

.Price {
  color: var(--price-color);
  font-size: 30px;
  font-weight: 700;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.Logo {
  display: flex;
  margin-right: 5%;
}

@media screen and (max-width: 1366px) {
  .TicketCard {
    width: 60%;
    padding: 15px;
  }

  .FlightInfo {
    flex-direction: column;
  }

  .Arrive,
  .Departure {
    margin-bottom: 5%;
    justify-content: center;
  }

  .City {
    text-align: center;
  }

  .Changes {
    margin-top: 5%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .TicketCard {
    width: 100%;
    padding: 15px;
  }

  .Arrive,
  .Departure {
    margin-bottom: 5%;
    justify-content: center;
  }

  .City {
    text-align: center;
  }

  .Changes {
    margin-top: 5%;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .FlightInfo {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
  }

  .TicketCard {
    width: 100%;
    padding: 15px;
  }

  .Arrive,
  .Departure {
    margin-bottom: 5%;
    justify-content: center;
  }

  .City {
    text-align: center;
  }

  .Changes {
    margin-top: 5%;
    text-align: center;
  }
}