.TicketCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
  background: var(--ticket-card-background);
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4%;
}

.Flights {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Cities {
  margin: auto auto auto 25px;
  font-size: 25px;
  font-weight: 600;
}

.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.Price {
  justify-content: center;
  align-items: center;
  color: var(--price-color);
  font-size: 30px;
  font-weight: 700;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.Logo {
  display: flex;
  margin-right: 2%;
}

@media screen and (max-width: 1366px) {
  .TicketCard {
    width: 60%;
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .TicketCard {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  .TicketCard {
    width: 100%;
    padding: 15px;
  }
}